* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-items: center;
}

.logo-img {
    height: 50px;
    width: 50px;
    background-color: gray;
}

.logo-title {
    font-size: 2rem;
}

.nav-list {
    display: flex;
    gap: 1rem;
}

.nav-list li {
    font-size: 1.5rem;
}